body {
    background-color: rgb(236, 223, 238);
    color: rgb(17, 17, 17);
    font-family: Arial;
    margin: 10px;
    text-decoration: none;
    padding-bottom: 60px;
}

footer {
    background-color: rgb(50, 21, 41);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 16px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: rgb(226, 158, 252);
}

main {
    margin: 10px 20px 56px;
    margin-bottom: 60px;
}

.error {
    color:red;
    font-weight: bold;
}

.drinksdop{
    color: rgb(30, 29, 27);
    font-family: monospace;
}
.drinks{
    color: rgb(30, 29, 27);
    font-family: monospace;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0;
}
button {
    background-color: #240a21;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}



.block {
    display: inline-block;
    padding:  15px;
    margin: 5px;
    background-color: #4d1b59;
    border-radius: 5px;
    text-align: center;
}
a.block {
    color: white;
}
.block-container{
    background-color: #e2a4fe;
    padding: 30px;
    text-align: center;
}