<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Альбина Кобзева. Лабораторная работа 2</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <header>
        WEB-программирование, часть {{numberLab}}. Лабораторная работа {{numberLab}}
    </header>

    <main>
        основной контент
    </main>

    <footer>
        &copy; {{name}}, {{groupStudent}}, {{numberCourse}}, 2024
    </footer>
    
</body>
</html>